---
const orbits = [
  [
    { src: "/assets/apachespark.svg", alt: "SPARK" },
    { src: "/assets/Python.png", alt: "Python" },
  ],
  [
    { src: "/assets/jupyter.svg", alt: "JUPYTER" },
    { src: "/assets/git.svg", alt: "Git" },
  ],
  [
    { src: "/assets/javascript.svg", alt: "JavaScript" },
    { src: "/assets/html5.svg", alt: "HTML5" },
  ],
];
---

<style>
.container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.center-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.orbit-1 {
  width: 250px;
  height: 150px;
  animation: rotate1 20s linear infinite;
}
.orbit-2 {
  width: 200px;
  height: 200px;
  animation: rotate2 30s linear infinite reverse;
}
.orbit-3 {
  width: 150px;
  height: 100px;
  animation: rotate3 25s linear infinite;
  transform: rotateX(30deg);
}

.skill {
  position: absolute;
  width: 40px;
  height: 40px;
}

.skill img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.orbit-1 .skill:nth-child(1) { top: 0; left: 50%; transform: translate(-50%, -50%); }
.orbit-1 .skill:nth-child(2) { bottom: 0; left: 50%; transform: translate(-50%, 50%); }

.orbit-2 .skill:nth-child(1) { top: 50%; left: 0; transform: translate(-50%, -50%); }
.orbit-2 .skill:nth-child(2) { top: 50%; right: 0; transform: translate(50%, -50%); }

.orbit-3 .skill:nth-child(1) { top: 10%; left: 75%; transform: translate(-50%, -50%); }
.orbit-3 .skill:nth-child(2) { bottom: 10%; right: 75%; transform: translate(50%, 50%); }

@keyframes rotate1 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate2 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate3 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
</style>

<div class="container">
  <img class="center-photo" src="/images/patick.jpg" alt="Tu foto" />

  <div class="orbit orbit-1">
    {orbits[0].map((skill) => (
      <div class="skill"><img src={skill.src} alt={skill.alt} /></div>
    ))}
  </div>

  <div class="orbit orbit-2">
    {orbits[1].map((skill) => (
      <div class="skill"><img src={skill.src} alt={skill.alt} /></div>
    ))}
  </div>

  <div class="orbit orbit-3">
    {orbits[2].map((skill) => (
      <div class="skill"><img src={skill.src} alt={skill.alt} /></div>
    ))}
  </div>
</div>
